Repository jirimakarius/exrack: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format-firmware, mix-format-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: mix-format-firmware
        name: mix format ExRack
        description: Formats Elixir files with mix format.
        language: system
        entry: sh -c 'cd exrack_firmware && mix format'
        files: ^exrack_firmware/.*\.exs?$
      - id: mix-format-ui
        name: mix format ExRackUI
        description: Formats Elixir files with mix format.
        language: system
        entry: sh -c 'cd exrack_ui && mix format'
        files: ^exrack_ui/.*\.exs?$

ExRack.FanRpm
  exrack_firmware/config/target.exs
  exrack_firmware/lib/exrack_firmware/application.ex
  exrack_firmware/lib/exrack_firmware/fan_pwm.ex
  exrack_firmware/lib/exrack_firmware/fan_rpm.ex
  exrack_firmware/mix.exs
  exrack_firmware/mix.lock
Due: mix-format-firmware

DHT22
  exrack_firmware/config/target.exs
  exrack_firmware/lib/exrack_firmware/application.ex
  exrack_firmware/lib/exrack_firmware/dht.ex
  exrack_firmware/lib/exrack_firmware/fan_rpm.ex
  exrack_firmware/mix.exs
  exrack_firmware/mix.lock
Due: mix-format-firmware

Add schematic
  schematic/.gitignore
  schematic/exrack.svg
Due: none

PWM controller - invert option
  exrack_firmware/config/target.exs
  exrack_firmware/lib/exrack_firmware/fan_pwm.ex
Due: mix-format-firmware

PromEx integration
  exrack_firmware/config/target.exs
  exrack_firmware/lib/exrack_firmware/dht.ex
  exrack_firmware/lib/exrack_firmware/fan_pwm.ex
  exrack_firmware/lib/exrack_firmware/fan_rpm.ex
  exrack_firmware/lib/exrack_firmware/prom_ex/dht.ex
  exrack_firmware/lib/exrack_firmware/prom_ex/fan.ex
  exrack_firmware/mix.lock
  exrack_ui/assets/css/app.css
  exrack_ui/assets/js/app.js
  exrack_ui/assets/tailwind.config.js
  exrack_ui/config/config.exs
  exrack_ui/config/dev.exs
  exrack_ui/lib/exrack_ui/application.ex
  exrack_ui/lib/exrack_ui/prom_ex.ex
  exrack_ui/lib/exrack_ui_web/endpoint.ex
  exrack_ui/lib/exrack_ui_web/live/test_view.ex
  exrack_ui/lib/exrack_ui_web/router.ex
  exrack_ui/mix.exs
  exrack_ui/mix.lock
Due: mix-format-firmware, mix-format-ui

PID experimental
  exrack_firmware/config/target.exs
  exrack_firmware/lib/exrack_firmware/application.ex
  exrack_firmware/lib/exrack_firmware/dht.ex
  exrack_firmware/lib/exrack_firmware/fan_pid.ex
  exrack_firmware/lib/exrack_firmware/fan_pwm.ex
  exrack_firmware/lib/exrack_firmware/fan_rpm.ex
  exrack_firmware/lib/exrack_firmware/prom_ex/fan.ex
  exrack_firmware/mix.lock
  exrack_ui/mix.lock
  spacer.scad
Due: mix-format-firmware

API Stabilization
  .tool-versions
  exrack_firmware/config/target.exs
  exrack_firmware/lib/exrack_firmware/application.ex
  exrack_firmware/lib/exrack_firmware/fan_pid.ex
  exrack_firmware/mix.exs
  exrack_firmware/mix.lock
Due: mix-format-firmware
